# Eclipse #
######################
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.externalToolBuilders/
*.launch
*.pydevproject
.cproject
.classpath
.factorypath
.buildpath
.target
.texlipse
.springBeans

# Common editor backup file patterns #
######################
*~
\#*
.#*
runcluster/data
runcluster/logs
runcluster/config/repo.properties
